
/* Mood Tracker */
.mood-section h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.mood-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.mood-btn {
  background: white;
  border: 2px solid #dcdcdc;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  transition: 0.3s;
}

.mood-btn:hover {
  background: #f1f1f1;
}

.mood-btn.active {
  background: #c8f7c5;
  border-color: #2f855a;
}

.emoji {
  font-size: 28px;
}