/* Background */
.register-container {
  min-height: 100vh;
   background: #f6f9f5;  /* soft peaceful background */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

/* Card */
.register-form-card {
  background: #f6f9f5;
  border-radius: 18px;
  padding: 35px;
  width: 100%;
  max-width: 650px;
  border: 1px solid #e1e6e5;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.register-form-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

/* Heading */
.form-section-title {
  font-size: 22px;
  font-weight: 700;
  color: #5da078;
  text-align: center;
  margin-bottom: 18px;
}

/* Label & Inputs */
label {
  font-weight: 600;
  margin: 6px 0;
  color: #2E3A3A;
}

.form-control {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #b7ccc7;
  font-size: 15px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #6AB7A7;
  box-shadow: 0 0 6px rgba(106,183,167,0.5);
}

/* Info Box */
.alert-info {
  background: #C9E8E2;
  color: #2E3A3A;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}

/* Button */
.btn-brownish-red {
  background-color: #6AB7A7;
  color: white;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  transition: 0.3s ease;
}

.btn-brownish-red:hover {
  background-color: #2A6359;
}

/* Checkbox spacing */
.form-check {
  margin-bottom: 10px;
}

/* Textarea */
textarea {
  min-height: 100px;
  resize: none;
}

/* Responsiveness */
@media (max-width: 768px) {
  .register-form-card {
    padding: 22px;
  }
}
