.queries h2 {
  font-weight: bold;
  color: #145a32;
}

.table {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f2fff4;
}

